# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
style.css
style.css.map
style.min.css
style.min.css.map
.sass-cache/*
/meteor-slides.css
/meteor-slides.css.map
quick-links-styles.css
quick-links-styles.css.map