/*  Stylesheet for the Meteor Slides 1.5.3 slideshow
	
	Copy "meteor-slides.css" from "/meteor-slides/css/" to your theme's directory to replace
	the plugin's default stylesheet.
	
	If you have navigation enabled, be sure to copy the "buttons.png", "next.png",
	and "prev.png" files to your theme's images folder and update the image paths below,
	or create new graphics to replace them.
	
	Learn more about customizing the stylesheet for Meteor Slides: 
	http://www.jleuze.com/plugins/meteor-slides/customizing-the-stylesheet/
*/

/* =Slideshow
-------------------------------------------------------------- */

div.meteor-slides {
	clear: both;
	float: none;
    height: auto !important;
	line-height: 0;
	margin: 0 auto;
	max-width: 100%;
	overflow: visible !important;
	padding: 0;
	position: relative;
	z-index: 1;
}
div.meteor-slides.meteor-left {
	clear: none;
	float: left;
	margin: 0 20px 20px 0;
}
div.meteor-slides.meteor-right {
	clear: none;
	float: right;
	margin: 0 0 20px 20px;
}
div.meteor-slides.meteor-center {
	margin: 0 auto;
}
.meteor-slides .meteor-clip {
	line-height: 0;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
	width: 100%;
}
.meteor-slides .meteor-shim {
	border: 0;
	height: auto !important;
	margin: 0;
	max-width: 100%;
	padding: 0;
	width: auto\9; /* IE8 */
}
.meteor-slides a:focus {
	outline: none;
}

/* =Slide
-------------------------------------------------------------- */

.meteor-slides .mslide {
	display: none;
	height: auto !important;
	margin: 0;
	max-width: 100%;
	padding: 0;
}
.single-slide .mslide {
	display: block;
}
.meteor-slides .mslide a {
	border: 0;
	margin: 0;
	padding: 0;
}
.meteor-slides .mslide img {
	border: 0;
	box-shadow: none !important;
	display: block;
	height: auto !important;
	margin: auto !important;
	max-width: 100%;
	padding: 0 !important;
	width: auto\9; /* IE8 */
}
.meteor-slides .mslide img[src$='.png'] {
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE8 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF); /* IE7 */
	zoom: 1;
}

/* =Previous/Next Navigation
-------------------------------------------------------------- */

.meteor-slides ul.meteor-nav {
	display: none;
	list-style: none;
    height: auto;
	margin: 0 !important;
	padding: 0;
}
.meteor-slides.navhover ul.meteor-nav {
	display: inline;
}
ul.meteor-nav li {
	display: inline;
    height: auto;
	list-style: none;
	margin: 0;
	padding: 0;
}
.meteor-nav .prev a {
	left: 0px;
}
.meteor-nav .next a {
	right: 0px;
}
.meteor-slides .meteor-nav a {
	border: none;
	display: block;
	outline: none;
	position: absolute;
	text-indent: -9999px;
	width: 27px;
    height: 100%;
    transition: all 0 ease 0;
	z-index: 998;
}
.meteor-nav .prev a {
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGMAAADsCAMAAABXA+iqAAAAM1BMVEUAAABmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZwOlLNAAAAEHRSTlMAECAwQFBgcICQoLDA0ODwVOCoyAAAAZNJREFUeAHtmg3OqzAMBE35oaEtcP/TfkS9QKWnsfLCcAFLtetZ7ybob9wnusTwOU+6xuvEa5SrxIctsVwl9oHt91XiGNl+H1eNBR+p88k2Y7tKbGyJZx0ptt9z7feDHanab3ikdnyk4s33u47Um18h8EhN/Ap51JGa+RWy8lTauqDSAVPp+H2kpNKLLbH2Q6V/17ZSSWErlXhhK5Wwr45UuQ2VpNKnCyrxwlYqabfQVNJukUrt2y1ZVFqlkiGAVOoxBJBKhgBSyRDAEMAQQCoZAhhNSyVDAEMAqWQIYDQtle4UTUfCL/Xt+AQXmfhlyC/1LDhFJJx+MfD/dH5j8Zs3kSBfEpaI/DuTF7u8aAfXfEQ+rvKVXL4iFSZJfadh8ugKJp2ICGHSmogoGTB5dwUTuu9zmojoAib9XKTCBLxIefvai7R4kf7XMPEivaW9qb05aG82ISK0N7U3S4Mw8SJtACZepNqb2ptHizDxIhUm2pu/f9qbXqQ+uBEm2ps+uPHBjQ9utDe1NykREQkwCfob9+UPtrc/OR/JOnUAAAAASUVORK5CYII=') no-repeat center right / contain;
}
.meteor-nav .next a {
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGMAAADsCAMAAABXA+iqAAAAM1BMVEUAAABmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZwOlLNAAAAEHRSTlMAECAwQFBgcICQoLDA0ODwVOCoyAAAAXtJREFUeAHtmm2uhDAMA9tlgeW79z/tgyMgvYyiariAf0RkYrullPkowV9dW1ujNY7W2hQsMly3yBAsMt4a1ydY5HeLHDVYZG3Q3Odgkc8z92+wyPeZ+xAsMlFz30rw98z9F6xRL2SpQHM/o+e+3CJ79Nx3YqmcXcGkEjCJnvv2Zu7ChDgi5rcwESZj9FLp54igYLL0ARNo7sIklyMlYDKmhImONB1MdKTCJJ0jPdI5UuPNarxpvClMdKQ9xZs6UuNN480hXbypIxUmxpspYGK8uaSDiY5UmBhv6kh9cKMjNd403vTBjY4UgQkxdt5Y8zcdt054bwWsd97rAi0y8IcDmwoolIAsEyAgcMEBsQZwUfOOkHc4UilR8iOVEiXiUx4qSaWtGyoBh23/VPKwlUr8YSuV8MpGKgXMWyp1ELdIJeCw7Y9Kxi1SyRLAuMUSQCpZAkglS4D3VDJusQSQSpYAVtNSyWraEkAqGbf822c1LZXqDryqLmv06/A/C8g/TfleZekAAAAASUVORK5CYII=') no-repeat center left / contain;
}
* html .meteor-nav .prev a {
	background: url('data:image/gif;base64,R0lGODlhKABfAMQQAGZmZvX19W9vb+Li4oKCgsXFxZ+fn4yMjLKysry8vKmpqXl5eezs7M/Pz9nZ2ZWVlf///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAABAALAAAAAAoAF8AAAX/ICSOZGmeqJgQaeueDZC8tDsIRq2fAUEEu+DoIAAKgwbB4BgsAArM3QCgiOoYgoe11vttaQ8B4/tCABxklxOaTt1ybVRgwYqjCAujvZRc7ksJAA1/JQ4ACIQkb4kjXXqJRI+ECgB+jGuMIlNVmVhamY6ZEH2iZmiZmJmLoHSiEHiSf6SoT6KGiKo4oqGZYWOZlJaJqYybuwIHuz6xe7OMpqIxM6KRrlhwtoeuEIGDrs6MvKDI28auxJngjAd5rnN1oqui6M+V277uy67ymdLb3dvUERLHyFM5bedqfVOyDZY7cvt0JWQjKti2asrg5cLWT8Y2aAt/gdInyqCrW/8EEwVk6MrhsWT7qGyjl0gBS2oLQgAAOw==') no-repeat center right; /* IE6 */
}
* html .meteor-nav .next a {
	background: url('data:image/gif;base64,R0lGODlhKABfAMQQAPX19W9vb2ZmZoKCguLi4p+fn8XFxezs7KmpqYyMjM/Pz5WVlby8vNnZ2bKysnl5ef///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAABAALAAAAAAoAF8AAAX/4GBAZGmeaKqSjkCscKwuwSHfMjAMAO6rhEDhRzw1BIyiEsIQKJbFQuAF9el4Vd8hsMj6CAKEF2cQjMYyKRUNGzx67BXgkYjDgkO7qnzWoxAufikJAXCCJVeGhxB4iyYKSI4lLQ2SJFI2komWW12WRw6WEGVPlmqiboqHAAF1lmBilnyigGuOhKqCcwOijZaQfY6UojSZjpuSW3mSoKJNpZKnmju5fqyukrCvYZqt01iO0ovPkpBJjr6Lu5a40VOSs47Njp3f1XbFkrXwZtlC3dgWpXJnSxA5R+b8LVtFTVK7cO8cxVukjR4Xe5LyCRNQSWI/dP+OPeAlaSDEgn4OFS6aRzGkuoa3CukL5DGYoIqOLloKAQA7') no-repeat center left; /* IE6 */
}

/* =Paged Navigation
-------------------------------------------------------------- */

.meteor-slides .meteor-buttons {
    bottom: 5px;
	box-sizing: initial;
    height: 9px;
    left: 0;
    margin: 0;
    padding: 6px 0 0;
    position: absolute;
    width: 100%;
    z-index: 999;
    text-align: center;
}
header#branding .meteor-buttons {
	left: 5px; /* A little nudge for Twenty Eleven */
}
.meteor-slides .meteor-buttons a {
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAJCAYAAAA/33wPAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAL1JREFUeNpi3LhhAwMQKABxNBB7A7EREJ8D4q1AvBSIHzBAAF41LFAFBUD8BYiLoQqMoBpA4hOgBrUCcRQDAlhCsRYQV7NAbfni5+9fg6ToOAhv2rixBSrPgGYIMgCJX2OC2rwVh6KtUHlvBvzAmwXJv9gAzJuEgBETAcUwS84RMOgcE5LzsToZKr+VgEFbWaDRVwAN2K1oscYDxHOgirVwBPgykBks0HQyARo7vWhpZA5SOqoGxQ6udAQQYADRXjd4h5WzsQAAAABJRU5ErkJggg==') no-repeat bottom left;
	border: none;
	display: inline-block;
	width: 9px;
	height: 9px;
	margin: 0 3px 0 0 !important;
	outline: none;
	text-indent: -9999px;
    transition: all 0 ease 0;
}
.meteor-buttons a {
    &:hover,
    &.activeSlide {
        background-position: bottom right;
    }
}
* html .meteor-buttons a {
	background: url('data:image/gif;base64,R0lGODlhEgAJAJECALGwsNnZ2f///wAAACH5BAEAAAIALAAAAAASAAkAAAIelIJoBt2bInPuxEjzxdnt1HlfEDYjWVrXlEHS0goFADs=') no-repeat bottom left; /* IE6 */

    &:hover,
    &.activeSlide {
        background-position: bottom right; /* IE6 */
    }
}
