.home-quick-links-container {
	width: 100%;
    max-width: 2880px;
    margin: 0 auto;
	padding: 0 0.5em;

    &:after {
        content: "";
        display: table;
        clear: both;
    }
    .flexbox & {
        display: flex;
        @media (max-width: 1000px) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}

.home-quick-link {
    .no-flexbox & { float: left; }

    padding: 0.5em;
    transition: all 0.3s ease;
    &:hover { opacity: 0.6; }

    img {
        width: 100%;
        height: auto;
    }

    @media (min-width: 900px) {
        width: 25%;
    }

    @media (min-width: 500px) and (max-width: 999px) {
        width: 50%;
    }

    @media (max-width: 500px) {
        display: block;
        width: 100%;
        margin: 0 auto 2em;
        &:last-of-type { margin-bottom: 1em; }

        a {
            display: block;
            width: 100%;
        }
        img { margin: 0 auto; }
    }
}

.quick-link-social {
    &-container { position: relative; }

    &.hidden { z-index: -999; }

    &.facebook,
    &.twitter {
        position: absolute;
        left: 0;
        right: 0;
        height: 50%;
        margin-left: 1em;
        margin-right: 1em;
    }

    &.twitter {
        top: 50%;
        bottom: 100%;
        margin-bottom: 1em;
    }

    &.facebook {
        top: 0%;
        bottom: 50%;
        margin-top: 1em;
    }
}
